In [2]:
import pandas as pd
import altair as alt

In [13]:
df = pd.read_csv('dataset_v1.csv', parse_dates=['CRASH DATE'])
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-09-06 00:00:00+00:00,18:05,NaN,NaN,40.771038,-73.83413,"(40.771038, -73.83413)",WHITESTONE EXPRESSWAY,NaN,NaN,...,Following Too Closely,NaN,NaN,NaN,4345591,SUV,Motorbike,NaN,NaN,NaN
1,2020-09-20 00:00:00+00:00,9:14,NaN,NaN,40.722095,-73.77772,"(40.722095, -73.77772)",GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4459141,Sedan,pickup,NaN,NaN,NaN
2,2020-09-24 00:00:00+00:00,22:00,MANHATTAN,10039.0,40.824757,-73.94052,"(40.824757, -73.94052)",8 AVENUE,WEST 148 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4461437,Sedan,Motorbike,NaN,NaN,NaN
3,2020-08-06 00:00:00+00:00,5:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120 HUGE GRANT CIRCLE,...,Unspecified,NaN,NaN,NaN,4336560,Sedan,SUV,NaN,NaN,NaN
4,2020-08-01 00:00:00+00:00,17:16,BRONX,10462.0,40.840508,-73.85515,"(40.840508, -73.85515)",METROPOLITAN AVENUE,LINDEN DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,4334713,Sedan,e-bike,NaN,NaN,NaN

In [12]:
print(df.dtypes)

CRASH DATE                       datetime64[ns, UTC]
CRASH TIME                                    object
BOROUGH                                       object
ZIP CODE                                     float64
LATITUDE                                     float64
LONGITUDE                                    float64
LOCATION                                      object
ON STREET NAME                                object
CROSS STREET NAME                             object
OFF STREET NAME                               object
NUMBER OF PERSONS INJURED                    float64
NUMBER OF PERSONS KILLED                     float64
NUMBER OF PEDESTRIANS INJURED                  int64
NUMBER OF PEDESTRIANS KILLED                   int64
NUMBER OF CYCLIST INJURED                      int64
NUMBER OF CYCLIST KILLED                       int64
NUMBER OF MOTORIST INJURED                     int64
NUMBER OF MOTORIST KILLED                      int64
CONTRIBUTING FACTOR VEHICLE 1                 object
CONTRIBUTING FACTOR VEHICLE 2                 object
CONTRIBUTING FACTOR VEHICLE 3                 object
CONTRIBUTING FACTOR VEHICLE 4                 object
CONTRIBUTING FACTOR VEHICLE 5                 object
COLLISION_ID                                   int64
VEHICLE TYPE CODE 1                           object
VEHICLE TYPE CODE 2                           object
VEHICLE TYPE CODE 3                           object
VEHICLE TYPE CODE 4                           object
VEHICLE TYPE CODE 5                           object
dtype: object

In [22]:
# count values in VEHICHE TYPE CODE 1
df['VEHICLE TYPE CODE 1'].value_counts()[0:20]

Sedan                54025
SUV                  40659
Taxi                  4806
truck                 3899
pickup                3245
Bike                  1938
bus                   1416
Motorbike             1183
van                    824
ambulance              468
Convertible            411
E-Scooter              239
pick up                236
Flat Bed               232
Garbage or Refuse      193
e-bike                 146
Carry All              146
motorbike              135
Chassis Cab             83
fire truck              77
Name: VEHICLE TYPE CODE 1, dtype: int64

In [ ]:
# join e-bike and BIKE 
df['VEHICLE TYPE CODE 1'] = df['VEHICLE TYPE CODE 1'].replace('e-bike', 'BIKE')
# replace motorbike and E-scooter

In [15]:
# count nans
print(df.isna().sum())

CRASH DATE                            0
CRASH TIME                            0
BOROUGH                           40671
ZIP CODE                          40686
LATITUDE                           7667
LONGITUDE                          7667
LOCATION                           7667
ON STREET NAME                    29464
CROSS STREET NAME                 60179
OFF STREET NAME                   86502
NUMBER OF PERSONS INJURED             2
NUMBER OF PERSONS KILLED              4
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1       351
CONTRIBUTING FACTOR VEHICLE 2     19593
CONTRIBUTING FACTOR VEHICLE 3    106611
CONTRIBUTING FACTOR VEHICLE 4    113552
CONTRIBUTING FACTOR VEHICLE 5    115126
COLLISION_ID                          0
VEHICLE TYPE CODE 1                 730
VEHICLE TYPE CODE 2               27447
VEHICLE TYPE CODE 3              107096
VEHICLE TYPE CODE 4              113658
VEHICLE TYPE CODE 5              115154
dtype: int64